/* SETUP CHILD | 1.0.0 | 210105 | assets/scss/editor-style.scss
---------------------------------------------------------------------------------------------------- */

@import "partials/base";
@import "partials/blocks-base";
@import "partials/blocks-core";
@import "partials/blocks-plugin";
@import "partials/blocks-custom";
@import "partials/post-summary";
@import "partials/gutenberg";

@import 	"type/setup-child-100/fontsize";
@import 	"type/setup-child-100/lineheight";
@import 	"ui/setup-be-103/color";
@import 	"ui/setup-be-103/margin";
@import 	"ui/setup-be-103/margin-all";
@import 	"ui/setup-be-103/padding";
@import 	"ui/setup-be-103/padding-all";
@import 	"ui/setup-child-100/border";
@import 	"ui/setup-child-100/heading";
